@use 'sass:map';
@use '@angular/material' as mat;

.cards-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1rem;
}

mat-card {
  flex: auto;
  margin: 0 !important;
}
