<section *ngIf="cards && cards.length > 0" class="cards-container">
  <ng-container *ngFor="let card of cards; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="card.subtitle">{{card.subtitle}}</mat-card-subtitle>
        <ng-container *ngIf="card.showFavorite">
          <span style="flex: auto"></span>
          <button mat-icon-button>
            <mat-icon  [class.not-liked]="true">thumb_up</mat-icon>
          </button>
        </ng-container>
      </mat-card-header>
      <mat-card-content style="margin-left: 1rem;">
        {{card.content}}
      </mat-card-content>
      <mat-card-actions *ngIf="card.routerLink || card.showDelete" align="end">
        <button *ngIf="card.showDelete && card.id" color="warn" mat-button (click)="onDeleteClick(card.id)">Delete</button>
        <a *ngIf="card.routerLink" mat-raised-button color="primary" [routerLink]="card.routerLink">View</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</section>
