<div [class.add-margin]="!currentUser">
  <amplify-authenticator>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
      <mat-toolbar id="account-toolbar">
        Welcome {{ user.attributes.name }}!
        <span style="flex: auto;"></span>
        <a [routerLink]="['/login']" mat-button (click)="signOut()">Sign Out</a>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-list *ngIf="showUserDetails">
        <mat-list-item *ngIf="identities">
          Login Provider: {{identities[0]?.providerName}}
        </mat-list-item>
        <mat-list-item *ngIf="identities">
          ID: {{identities[0]?.userId}}
        </mat-list-item>
        <mat-list-item>
          Email: {{user.attributes.email}}
        </mat-list-item>
      </mat-list>
    </ng-template>
  </amplify-authenticator>
</div>
