<section *ngIf="cards && cards.length > 0" class="cards-container">
  <ng-container *ngFor="let card of cards; let i = index">
    <mat-card class="joke-card">
        <div class="action-card-content">
          {{card.content}}
        </div>
        <div style="flex: auto;"></div>
        <div class="action-card-content">
          <div style="height: 32px;" matSubheader>- {{card.subtitle}}</div>
        </div>
        <div style="flex: auto;"></div>
        <app-card-action-row
          [itemId]="card.id"
          [link]="card.id"
          [canEdit]="card.showDelete"
          [isJoke]="true"
          (tagSelected)="null"
          (itemDeleted)="onDeleteClick(card.id)"
        ></app-card-action-row>
    </mat-card>
  </ng-container>
</section>
