<ng-container *ngIf="isAuthenticated">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="All Jokes">
      <ng-container *ngIf="jokeCards && jokeCards.length > 0">
        <ng-container *ngIf="!enableTableView">
          <app-joke-card [cards]="jokeCards"></app-joke-card>
        </ng-container>
      </ng-container>
    </mat-tab>
    <mat-tab label="My Jokes">
      <ng-container *ngIf="myJokeCards && myJokeCards.length > 0">
        <ng-container *ngIf="!enableTableView">
          <app-joke-card (deleteClick)="deleteJoke($event)" [cards]="myJokeCards"></app-joke-card>
        </ng-container>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-container *ngIf="!isAuthenticated && jokeCards && jokeCards.length > 0">
  <app-joke-card [cards]="jokeCards"></app-joke-card>
</ng-container>
