<mat-toolbar color="primary">
  {{navigation.title}}
  <span style="flex: auto"></span>
  <ng-container *ngFor="let option of navigation.options">
      <button [class.activeOption]="option.isActive()" mat-button (click)="option.action()">
        {{option.name}}
      </button>
  </ng-container>
</mat-toolbar>
<app-card-container [cards]="cards"></app-card-container>
<mat-list *ngIf="badWords && badWords.length > 0">
  <div matSubheader>The Following Words are Not Allowed</div>
  <mat-list-item *ngFor="let word of badWords">
    <mat-error>
      {{word.Term}}
    </mat-error>
  </mat-list-item>
</mat-list>
<ng-container *ngIf="jokes && jokes.length">
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Jokes</mat-card-title>
      <button mat-button>Filter</button>
    </mat-card-header>
    <mat-card-content>
      <app-card-container [alwaysShow]="true" [cards]="jokes"></app-card-container>
    </mat-card-content>
  </mat-card>
</ng-container>

