// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dadjokes-primary: mat.define-palette(mat.$cyan-palette, 900);
$dadjokes-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dadjokes-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dadjokes-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dadjokes-primary,
      accent: $dadjokes-accent,
      warn: $dadjokes-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dadjokes-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  background-color: #212121;
  color: #ffffff;
}

mat-card {
  margin: 1rem;
}

@import "~@aws-amplify/ui-angular/theme.css";

$blue-palette: mat.define-palette(mat.$blue-palette);

.liked {
  color: mat.get-color-from-palette($blue-palette, "darker");
}

.not-liked {
  color: mat.get-color-from-palette($blue-palette, "lighter");
}

mat-toolbar {
  // font-size: 20px !important;
  a {
    text-decoration: none !important;
    color: #ffffff !important;
  }

  button mat-icon,
  a mat-icon {
    margin: 0 !important;
    margin-right: 0.25rem !important;
  }

  a span,
  button span {
    margin-top: 0.125rem;
  }
}

mat-toolbar.with-filters {
  height: fit-content !important;
  mat-form-field {
    height: fit-content !important;
    margin-right: 1rem;
    margin-bottom: 1rem;

    * {
      font-size: 14px !important;
    }

    mat-hint {
      font-size: 12px !important;
    }
  }
}

.action-card-actions {
  flex-direction: row;
  display: flex;
  background-color: rgba(0, 0, 0, 0.84);
  color: #e9e9e9;
  width: 100%;
  align-items: baseline;
  padding: 0.5rem;
  border-radius: 0px 0px 4px 4px;
}

.action-card {
  width: 300px;
  height: 300px;
  flex: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.action-card-content {
  padding: 1rem;
}
